// user-auth login and signup
$login-purple: #796eff;
$background-white: #F6F8F9;
$user-auth-label-grey: #8A888D;
$user-auth-link: #2AC7FB;


// 404 and splash page
//   header
//     links grey -> purple on hover, no underline

//   footer
//     links white -> underline on hover
//     icons -> dark background with white icon -> then on hover -> white background with dark icon


