.home-sidebar {
  background-color: #151b26;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  padding: 5px 20px;
  .home-logo-container {
    .home-logo {
      background-size: 15px;
      background-image: image-url('icon.png');
      background-repeat: no-repeat;
      background-position-y: 1.5px;

      h5{
        color: white;
        padding-left: 18px;
      }
    }
  }

  .home-sidebar-teams {
    margin-top: 50px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;

    a {
      margin-top: 5px;
      span {
        color: white;
      }
    }

    a:hover {
      background: #796EFF;
    }
  }
  .create-team-form {
    padding-top: 20px;

    h4 {
      color: white;
    }

    .team-create-submit {
      margin-left: 8px;
      background-color: #796EFF;
      border-radius: 3px;
      border: none;
      color: #fff;
    
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      height: 36px;
      letter-spacing: .5px;
      line-height: 36px;
      padding: 0 16px;
      text-align: center;
      text-decoration: none;
      transition: background-color .15s,color .15s ease-in-out;
      white-space: nowrap;
    }
  }
}