.home-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  position: relative;

  z-index: 200;

  min-height: 72px;
  min-width: 80vw;
  padding: 0 24px;

  .home-header-main {
    .home-header-title {
      font-size: 20px;
      line-height: 28px;
    }
  }

  .home-header-buttons {
    .home-header-logout {
      //display
      margin-left: 8px;
      background-color: #796EFF;
      border-radius: 3px;
      border: none;
      color: #fff;
    
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      height: 36px;
      letter-spacing: .5px;
      line-height: 36px;
      padding: 0 16px;
      text-align: center;
      text-decoration: none;
      transition: background-color .15s,color .15s ease-in-out;
      white-space: nowrap;

    }
  }
}