.home-main {
  //display
  display: flex;
  flex: 1 1;
  min-height: 100vh;
}

.home-member-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-prj-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

