.project-create-submit {

  background-color: #796EFF;
  border-radius: 3px;
  border: none;
  color: #fff;

  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 26px;
  letter-spacing: .5px;
  line-height: 26px;
  // width: 100%;

  text-align: center;
  text-decoration: none;
  transition: background-color .15s,color .15s ease-in-out;
  white-space: nowrap;
}