.home-sidebar {
  background-color: #1e1f21; 
  display: flex;
  flex-direction: column;
  min-width: 0vw;
  max-width: 30vw;
  height: 100vh;
  padding: 5px 20px;
  .home-sidebar-header{
    margin: 20px auto;
    .home-logo-container {
      .home-logo {
        background-size: 30px;
        background-image: image-url('icon.png');
        background-repeat: no-repeat;
        background-position-y: 1.5px;

        h5{
          color: white;
          padding-left: 40px;
          font-size: 30px;
        }
      }
    }
  }

  .home-sidebar-teams {
    margin-top: 50px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    max-width: 150px;

    a {
      margin-top: 5px;
      span {
        color: white;
      }
    }

    a:hover {
      background: #796EFF;
    }
  }
  .create-team-container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h4 {
      color: white;
      text-align: center;
    }
    .create-team-form{
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      width: 120px;
      padding-left: 40px;

      input[type=text] {
        width: 93%;
        // display: block;
      }

      .team-create-submit {
        
        
        background-color: #796EFF;
        border-radius: 3px;
        border: none;
        color: #fff;
      
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        height: 26px;
        letter-spacing: .5px;
        line-height: 26px;
        width: 100%;
        // padding-left: 30px;
        text-align: center;
        text-decoration: none;
        transition: background-color .15s,color .15s ease-in-out;
        white-space: nowrap;
      }
    }
  }
}