.splash-404-header {
  justify-content: space-between;
  transition: padding 225ms,transform .3s ease-out;
  width: 100%;
  // z-index: 900;
  box-shadow: 0 3px 6px #dddddd;
  top: 0;
  // position: fixed;
  margin-bottom: 60px;
  font-size: 30px;

  .splash-404-header-row {
    height: 56px;
    width: 100%;
    position: relative;
    z-index: 10;

    .splash-404-header-wrapper {
      height: 100%;
      max-width: 1440px;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      padding: 0 64px;
      overflow: hidden;

      .splash-404-header-nav-group {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        height: 100%;


        .splash-404-header-logo {
          display: block;
          position: relative;
          
          background-size: 30px;
          background-image: image-url('icon.png');
          background-repeat: no-repeat;
          background-position-y: 1.5px;

          h5{
            padding-left: 42px;
          }
        }

        .splash-404-header-login {
          color: #646f79;

          

          padding: 0 12px;
          height:100%;
          display: inline-block;

          .splash-404-header-login-text {
            font-size: 30px;
            line-height: 56px;
            font-weight: 500;
          }
          
        }

        .splash-404-header-login:hover {
          color: #796eff;
        }
      }
    }
  }
}

.firstSection {
  background-color: white;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  // text-align: center;
  
  div.firstSection-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 30px;
  }
  .firstSection-title {
    padding-bottom: 48px;
    font-weight: 400;
    font-size: 44px;
    line-height: 43px;
    width: 380px;
    border-bottom: 2px solid grey;
  }

  .firstSection-inner{
    line-height: 28px;
    margin-top: 30px;
    margin-bottom: 32px;
    width: 400px;
  }

  .splash-img {
    width: 400px;
    // border: #a1d5a1 solid 5px;
    margin-left: 20px;
    background-size: 400px;
    background-image: image-url('teamwork.png');
    background-repeat: no-repeat;
    background-position-y: 1.5px;
  }
}

.splashSection {
  background-color: #151b26;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  .splashSection-container {
    padding: 0 48px;
    .splashSection-mainText-Container{
      margin: 80px 0;
      h1.splashSection-mainText{
        font-size: 38px;
        color: white;
        line-height: 56px;
        text-align: center;
      }
    }
  }
}

.tryFree {
  //display
  background-color: #796EFF;
  border-radius: 3px;
  border: none;
  color: #fff;

  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  letter-spacing: .5px;
  line-height: 36px;
  padding: 0 16px;
  text-align: center;
  text-decoration: none;
  transition: background-color .15s,color .15s ease-in-out;
  white-space: nowrap;

}

.tryFree:hover {
  transition-duration: .2s;
  background: #635ac7;
  border-color: #635ac7;
}