// .TeamShow-main {
//   margin-top: 50px;
//   margin-left: 10px;
//   padding-left: 30px;

//   width: 60%;
//   display: flex;
//   flex-direction: column;

//   align-items: center;
//   justify-content: space-evenly;
// }

.TeamShow-main {
  display: flex;
  flex-direction: row;
  // align-items: center;
  justify-content: center;
  .TeamShow-leftPane {
    display:flex;
    flex-direction: column;
    width: 258px;
    .description-holder-with-title{
      // display: flex;
      // flex-direction: column;
      margin: 32px 0 32px;
      
      .TeamShow-description-title {
        margin: 0 24px 0 24px;
        padding: 8px 0 8px;
      }

      .description-Holder {
        textarea {
          resize: none;
          width: 200px;
          height: 300px;
        }
        
        border: 1px grey;
      }
      .description-Holder:hover {
        border: 1px red;
      }
    }
  }
  .TeamShow-rightPane{
    display:flex;
    flex-direction: column;
    margin: 32px 0;
    padding: 8px 0;
  }
}

.link span {
  //color 
  color: $user-auth-link;
  //display
  margin-left: 8px;
  //typography
  font-size: 13px;

  text-align: center;
}

.link span:hover {
  //typography
  text-decoration: underline;
}

.prj-create-link {
  span {
    //color 
    color: purple;
    //display
    margin-left: 8px;
    //typography
    font-size: 13px;

  }
  
  span:hover {
    //typography
    text-decoration: underline;
  }
}

.home-member-links {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // text-align: center;

  .TeamShow-Member {
    margin: 0 24px 0 24px;
    padding: 8px 0;
  }
}

.home-prj-links {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // text-align: center;
  // .TeamShow-Project {
  li{
    margin: 0 24px 0 24px;
    padding: 8px 0;
  }
}
