// .TeamShow-main {
//   margin-top: 50px;
//   margin-left: 10px;
//   padding-left: 30px;

//   width: 60%;
//   display: flex;
//   flex-direction: column;

//   align-items: center;
//   justify-content: space-evenly;
// }

.TeamShow-main {
  display: flex;
  flex-direction: row;
  // align-items: center;
  justify-content: center;
  color: white;

  .TeamShow-leftPane {
    display:flex;
    flex-direction: column;
    width: 258px;
    margin: 0 20px;
    .description-holder-with-title{
      // display: flex;
      // flex-direction: column;
      margin: 32px 0 32px;
      
      .TeamShow-description-title {
        margin: 0 24px 0 24px;
        padding: 8px 0 8px;
      }

      // .description-Holder {
      //   textarea {
      //     resize: none;
      //     width: 200px;
      //     height: 300px;
      //   }
        
      //   border: 1px grey;
      // }
      // .description-Holder:hover {
      //   border: 1px red;
      // }

       .team-description {
          resize: none;
          background: #2c2c2c;
          // border-color: #3e1b80;
          border: none;
          color: rgb(245, 244, 243);
          width: 300px;
          margin: 15px;
          padding: 10px;
        }

        .team-description:focus {
          outline: none;
        }
    }

    .team-visual-container {
        border: 3px solid #424244;
        border-radius: 8px;
        background: #2A2B2D;
        padding-bottom: 5px;
        width: 200px;
        max-height: 500px;
        

      .task-header-container {
          border-bottom: 2px solid #424244;
          display: flex;
          // padding-left: 24px;
          // padding-right: 24px;
          justify-content: left;

        .task-header {
          font-size: 20px;
          line-height: 28px;
          font-weight: 500;
          color: #f5f4f3;
          padding: 10px 50px;
        }
      }

      .team-description {
          resize: none;
          background: #2c2c2c;
          // border-color: #3e1b80;
          border: none;
          color: rgb(245, 244, 243);
          // width: 300px;
          height: 70px;
          margin: 15px;
          padding: 10px;
        }

        .team-description:focus {
          outline: none;
        }
    }
  }
  .TeamShow-rightPane{
    display:flex;
    flex-direction: column;
    margin: 32px 20px;
    padding: 8px 0;
  }
}

.teammate-email {
  //color 
  // color: black;
  //display
  margin: 20px;
  //typography
  font-size: 13px;

  text-align: center;
}

.teammate-email:hover {
  text-decoration: underline;
}

.prj-name {
   //color 
  // color: black;
  //display
  // margin-left: 8px;
  //typography
  font-size: 13px;

  text-align: center;
}

.prj-name:hover {
  text-decoration: underline;
}


.prj-create-link {
  flex-basis: 33.33%;
  margin: 20px 0;
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    // span {
      
    //   //display
    //   margin-left: 8px;
    //   //typography
    //   font-size: 13px;
  
    // }
  }
}

.home-member-links {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // text-align: center;
  margin: 20px 0;
  max-height: 200px;
  overflow: auto;

  .TeamShow-Member {
    margin: 0 24px 0 24px;
    padding: 8px 0;
    a{
      display: flex;
      span {
        word-wrap: break-word;
      }
    }
  }
}

.home-prj-links {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // text-align: center;
  // .TeamShow-Project {
    .prj-grid {
      display: flex;
      flex-flow: row wrap;

      .TeamShow-Project {
        flex-basis: 33.33%;
        margin: 20px 0;

        // margin: 0 24px 0 24px;
        // padding: 8px 0;
        border-radius: 30px;
        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          span {
            word-wrap: break-word;
          }
        }
      }
    }
}
